source https://api.nuget.org/v3/index.json
storage: none
nuget Expecto
nuget Fake.Core.ReleaseNotes
nuget Fake.Api.GitHub
nuget TaskBuilder.fs
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget FSharp.Data
nuget Fake.DotNet.NuGet
nuget FSharp.Core < 4.6
nuget FSharp.Compiler.Service
nuget Dotnet.ProjInfo
nuget Fake.Core.Target
nuget Fake.BuildServer.AppVeyor
nuget FPublisher prerelease

source https://ci.appveyor.com/nuget/fsharp-formatting
nuget FSharp.Formatting prerelease
