source https://api.nuget.org/v3/index.json
storage: none
nuget Fake.Core.ReleaseNotes
nuget Fake.Api.GitHub
nuget TaskBuilder.fs
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget FSharp.Data
nuget Fake.DotNet.NuGet
nuget Dotnet.ProjInfo
nuget Fake.Core.Target
nuget Fake.BuildServer.AppVeyor

source https://ci.appveyor.com/nuget/fpublisher
nuget FPublisher build

source https://ci.appveyor.com/nuget/fsharp-formatting
nuget FSharp.Formatting prerelease

group tests
    storage: none
    source https://api.nuget.org/v3/index.json
    nuget Expecto.TestResults